@import "../../node_modules/scss/mixin";
@import "../../node_modules/scss/variables";

.wrapper-reigst {
  @include wrapper-form;

  background: linear-gradient(-90deg, #C4EBE6 50% , #FFC2C2 50%);
  &::before {
    right: unset;
    left: 3%;
  }
}

.login-regist__form.regist {
  position: absolute;
  top: 50px;
  right: 0;
  @include form-formated;
  width: 50%;
  height: 100%;
  overflow: auto;

  input[type='radio'] {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 20px;
    top: -5px;
    left: 55px;
    background-color: #ccc;
    transition: all ease 350ms;
    border-radius: 20px;
  }

  .slider::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white-color;
    transition: all ease 350ms;
    box-shadow: 0 0 5px rgba(0,0,0, .2);
  }

  input:checked[type='radio'] +.slider {
    background-color: $primary-color;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: all ease 400ms;
  }

  input:checked[type='radio'] + .slider::before {
    transform: translateX(22px);
    transition: all ease 400ms;
  }

  select {
    width: 90%;
    height: 55px;
    background: transparent;
    border: none;
    border-bottom: 1px solid $secondary-color-dark-5;
    color: $secondary-color-dark-30;
    outline: none;
    padding: 10px 15px 0;
  }

  select:focus {
    color: $primary-color;
    border-color: $primary-color;
  }

  option {
    background-color: $white-color;
  }


  .login-regist-btn {
    position: absolute;
    bottom: 80px;
    right: 10px;

    @media screen and (max-height: 565px) {
      position: fixed;
      bottom: unset;
      top: 10px;
      z-index: 200;
    }
  }
}


.wrap-other-input {
  display: flex;
  flex-direction: row;
  width: 100% ;
  justify-content: center;
}

.wrap-other-input-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.wrap-other-input-right {
  width: 50%;
}

.wrap-other-input label {
  position: relative;
  font-size: .7em;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: $secondary-color-dark-30;
}

.regist .login-regist__link {
  @include login-regist__link;
  position: absolute;
  bottom: 80px;
  left: 10px;
  @media screen and (max-height: 565px) {
    position: fixed;
    bottom: unset;
    left: unset;
    top: 18px;
    right: 180px;
    z-index: 200;
  }
}
