@import "~scss/mixin";
@import "~scss/variables";

.wrapper-login {
  @include wrapper-form;
  &::before {
    transform: scaleX(-1);
  }
}

.login-regist__form.login {
  @include form-formated;
  position: absolute;
  left: 15%;
  top: 30%;
  transform: translate(-15%, -30%);

  a {
    color: $secondary-color-dark-30;
    text-decoration: none;
    font-size: .7em;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.login-regist__btn {
  @include login-regist-btn;
}
