

.modal-for-row-data {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;

  width: 100vw;
  height: 100vh;

  background-color: rgba(147, 143, 143, 0.396);
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 7px;
  right: 7px;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  right: 2px;

  width: 20px;
  height: 2px;

  background-color: #41b883;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal__wrap-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 102;

  display: flex;
  justify-content: space-between;
  min-width: 450px;
  width: 80%;
  max-width: 550px;
  min-height: 200px;
  padding: 10px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #41b883;
  transform: translate(-50%, -50%);
}

.modal__img {
  width: 40%;
  max-width: 200px;
  max-height: 250px;

  border-radius: 5px;
}

.modal__content {
  min-width: 60%;
  max-height: 80vh;
  padding: 0 20px 0 10px;
  overflow: auto;
}

.modal__content > div {
  color: #262626;
  font-size: 0.83rem;
  line-height: 1.5;
  border-bottom: 1px solid rgba(147, 143, 143, 0.396);
}

.modal__content > div a {
  text-transform: none;
  font-size: 0.75rem;
}

.rating {
  color: gold;
}

@keyframes close {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes close-reverse {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    background-color: transparent;
  }
}

.modal__close--active::before {
  animation: close 1.3s linear forwards;

}
.modal__close--active::after {
  animation: close-reverse 1.3s linear forwards;
}
